h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

img{
    border: 5px solid white;
    height: 300px;
}

body{
    margin-top: 110px;
    text-align: center;
    color: white;
    background-color: black;
}


